.App {
    font-family: courier;
}

.App-logo {
  height: 8vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.Adress{
    list-style: none;
}
.Bold{
    font-weight: bold;
}
