body {
    --fontColor: #da4032;
    --bgColorDark:  #375d52;
    --bgColorLight: #63A895;
    font-family: georgia;
    background-color: var(--bgColorDark);
    color: var(--fontColor);
}
.App{
    margin: 1vmin 1vmin 1vmin 1vmin;
}
.App-logo {
  height: 8vmin;
}
.App-header {
  min-height: 10vh;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  font-size: calc(10px + 3vmin);
}
.General-info{
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  font-size: calc(10px + 1vmin);
}

#socialMediaButtons{
  display: flex;
  justify-content: flex-end;
  
}
.Adress{
    list-style: none;
}
.Bold{
    font-weight: bold;
}
